* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
  }   

  .wrapper{
    width: 100vw;
    height: 100vh;
  }

  .container-left{
    display: inline-block;
    width: 60%;
    margin-top: 15%;
    padding: 136px;
  }

  .container-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    width: 40%;
    height: 100vw;
    position: absolute;
}

img{
  position: relative;
  top: 25%;
  right: 130px;
}

h1{
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  width: 368px;
  color: #5D5D7D;
}

p{
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  opacity: 0.6;
  margin: 15px 0;
  color: #5D5D7D;
  width: 540px;
}

button{
  width: 269px;
  height: 62px;
  border-radius: 30px;
  background: #9499EA;
  box-shadow: 0px 10px 24px 0px #9499EA19;
  font-size: 24px;
  font-weight: 400;
  line-height: 35.57px;
  color: white;
  cursor: pointer;
  border: none
}

button:hover{
  opacity: .8;
}

button:active{
  opacity: .5;
}

a{
  font-size: 28px;
  font-weight: 400;
  line-height: 41px;
  margin-right: 41px;
  cursor: pointer; 
  color: #5D5D7D;
}

a:nth-child(2){
  opacity: .4;
}

a:hover{
  opacity: .4;
}
a:active{
  opacity: .8;
}

header{
  margin: 24px 0 0 56px;
}


@media screen and (max-width: 1125px) {
  .container-left{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }

  .container-right{
    display: block;
    background-color: rgba(93, 93, 125, 0.16);
    width: 100%;
    height: auto;
    position: static;
    padding: 45px;
  }  

  header{
    display: none;
  }

  h1{
    width: auto;
    text-align: center;
    font-size: 36px;
    line-height: 52px; /* 144.444% */
    margin: 58px 50px 0;
  }

  p{
    width: auto;
    text-align: center;
    font-size: 14px;
    line-height: 24px; /* 171.429% */
    margin: 15px 40px;
  }

  button{
    width: none;
    height: 62px;
    margin: 0 auto;
    display: block;
  }

  img{
    max-width: 90%;
    position: static;
  }

}

